<div style="font-size:20px;background-color:rgb(58, 140, 160);border-radius:5px;margin:2px;padding:3px">{{output}}</div>
<div style="width:auto;font-size:20px;color:black;background-color:rgb(149, 181, 189);border-radius:5px;margin:4px;padding:4px;float:right;">{{target}}</div>
