
<div style="font-size:20px;color:black;background-color:rgb(189, 189, 189);border-radius:5px;margin:2px;padding:3px">{{question}}?</div>
{{#if answer}}
<div style="width:auto;font-size:20px;background-color:rgb(50, 119, 50);border-radius:5px;margin:4px;padding:4px;float:right;">YES{{#if exceptional}}!{{/if}}{{#if event}} and..{{/if}}</div>
{{else}}
<div style="width:auto;font-size:20px;background-color:rgb(165, 59, 59);border-radius:5px;margin:4px;padding:4px;float:right;">NO{{#if exceptional}}!{{/if}}{{#if event}} and..{{/if}}</div>
{{/if}}
